.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f1373c;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  // box-shadow: 0 -3px 11px black;
  height: 50px;

  &-link {
    text-align: center;
    height: 30px;
    text-decoration: none;
    font-family: 'Comfortaa';

    img {
      width: 26px;
    }
  }
}

.body {
  width: 100%;
}
