.buddies-container {
  margin: 50px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .buddies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 10px;
    box-shadow: 1px 1px 1px 1px #00000094;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    width: 70%;

    &-avatar {
      height: 115px;
      width: 160px;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
      align-self: center;
    }

    &-img {
      max-height: 83px;
    }

    &-name {
      color: #f1373c;
      font-size: 25px;
      margin: 10px 0;
      text-align: center;
    }

    &-half {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &-btn-container {
      justify-content: center;
      flex-direction: row;
      align-items: center;
    }

    &-btn {
      border-radius: 10px;
      background: linear-gradient(96deg, rgba(241,55,60,1) 0%, rgba(255,122,1,1) 100%);
      margin: 8px 10px;
      padding: 10px 13px;
      justify-self: end;
      height: fit-content;
    }

    .trash {
      background: lightgrey;
    }

    &-img {
      height: 20px;
      width: auto;
    }
  }
}


body {
  margin: 0;
}
