.editprofile {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  text-align: center;

  &-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 35px;
    align-items: center;
  }

  &-input {
    margin: 12px;
    border-radius: 33px;
    border-style: solid;
    border-color: #f1373c;
    font-size: 17px;
    padding: 16px 30px;

    &::placeholder {
      color: gray;
    }

  }

  .picture {
    position: relative;

    .camera {
      width: 50px;
      position: absolute;
      top: 10px;
      left: 95px;
    }

    input {
      opacity: 0;
      margin: 20px 0;
      padding-bottom: 15px;
    }
  }

  .btn {
    background: linear-gradient(96deg, #f1373c 0%, #ff7a01 100%);
    margin: 8px 19px;
    padding: 16px 43px;
  }

}

body {
  margin: 0;
}
