.user {
  &-image{
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-size: cover;
    background-position: center;
  }

  &-name {
    position: absolute;
    bottom: 10px;
    background: #f8f8ffbd;
    padding: 2px 30px;
    color: #4e4e4e;
    text-transform: uppercase;
    font-family: 'Comfortaa';
  }

  &-nomore {
    text-align: center;
  }
}


