.prelogin {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  background:
  linear-gradient(180deg, rgba(241,55,60,0.7665441176470589) 0%, rgba(255,122,1,0.4416141456582633) 100%),
  url('/images/preloginclimber.jpg') no-repeat center;
  background-size: 148%;

  &-title {
    text-align: center;
    color: white;
    // font-size: pixel-to-rem(60px);
    font-size: 60px;
    font-family: 'Comfortaa';
  }

  &-subtitle {
    margin: 0 25px 14px;
    text-align: center;
    color: white;
    // font-size: pixel-to-rem(22px);
    font-size: 22px;
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;

    button {
      margin: 15px 0%;
    }
  }
}

body {
  margin: 0;
}

