.signup {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  background:
  linear-gradient(180deg, rgba(241,55,60,0.7665441176470589) 0%, rgba(255,122,1,0.4416141456582633) 100%);
  text-align: center;

  &-title {
    color: white;
    font-size: 60px;
    z-index: 4;
  }

  &-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 35px;
    align-items: center;
  }

  &-input {
    margin: 12px;
    border-radius: 33px;
    border-style: solid;
    border-color: #f1373c;
    font-size: 17px;
    padding: 16px 30px;

    &::placeholder {
      color: lightgray;
    }
  }

  .btn {
    background: linear-gradient(96deg, #f1373c 0%, #ff7a01 100%);
    margin: 8px 19px;
    padding: 16px 43px;
  }

  p {
    font-size: 18px;
  }

  .signup-link {
    text-decoration: none;
  }
}










body {
  margin: 0;
}
