.btn {
  color: white;
  background-color: linear-gradient(96deg, #f1373c 0%, #ff7a01 100%);
  border-radius: 25px;
  padding: 11px 26px;
  font-size: 20px;
  width: 150px;
  border-style: none;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.164);
  text-transform: uppercase; }
  .btn.secondary {
    color: #ff7a01;
    background-color: white; }
    .btn.secondary-red {
      color: #f1373c;
      background-color: white; }

.prelogin {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(241, 55, 60, 0.766544) 0%, rgba(255, 122, 1, 0.441614) 100%), url("/images/preloginclimber.jpg") no-repeat center;
  background-size: 148%; }
  .prelogin-title {
    text-align: center;
    color: white;
    font-size: 60px; }
  .prelogin-subtitle {
    margin: 0 25px 14px;
    text-align: center;
    color: white;
    font-size: 22px; }
  .prelogin-buttons {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .prelogin-buttons button {
      margin: 15px 0%; }

body {
  margin: 0; }

.login {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .login-title {
    color: white;
    font-size: 60px;
    z-index: 4;
    margin: 0px 0px 65px; }
  .login-image {
    position: absolute;
    right: -27px;
    top: -232px; }
  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 35px;
    align-items: center; }
  .login-input {
    margin: 12px;
    border-radius: 33px;
    border-style: solid;
    border-color: #f1373c;
    font-size: 17px;
    padding: 16px 30px; }
    .login-input::placeholder {
      color: lightgray; }
  .login .btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(96deg, #f1373c 0%, #ff7a01 100%);
    margin: 8px 19px;
    padding: 16px 43px; }
  .login p {
    font-size: 18px; }
  .login .login-link {
    text-decoration: none; }

body {
  margin: 0; }

.signup {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(241, 55, 60, 0.766544) 0%, rgba(255, 122, 1, 0.441614) 100%);
  text-align: center; }
  .signup-title {
    color: white;
    font-size: 60px;
    z-index: 4; }
  .signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 35px;
    align-items: center; }
  .signup-input {
    margin: 12px;
    border-radius: 33px;
    border-style: solid;
    border-color: #f1373c;
    font-size: 17px;
    padding: 16px 30px; }
    .signup-input::placeholder {
      color: lightgray; }
  .signup .btn {
    background: linear-gradient(96deg, #f1373c 0%, #ff7a01 100%);
    margin: 8px 19px;
    padding: 16px 43px; }
  .signup p {
    font-size: 18px; }
  .signup .signup-link {
    text-decoration: none; }

body {
  margin: 0; }
