.btn {
  color: white;
  background-color: linear-gradient(96deg, #f1373c 0%, #ff7a01 100%);
  border-radius: 25px;
  padding: 11px 26px;
  font-size: 20px;
  width: 150px;
  border-style: none;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.164);
  text-transform: uppercase; }
  .btn.secondary {
    color: #ff7a01;
    background-color: white; }
    .btn.secondary-red {
      color: #f1373c;
      background-color: white; }
  .btn.feed {
    font-size: 15px !important; }

.prelogin {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(241, 55, 60, 0.766544) 0%, rgba(255, 122, 1, 0.441614) 100%), url("/images/preloginclimber.jpg") no-repeat center;
  background-size: 148%; }
  .prelogin-title {
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Comfortaa'; }
  .prelogin-subtitle {
    margin: 0 25px 14px;
    text-align: center;
    color: white;
    font-size: 22px; }
  .prelogin-buttons {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .prelogin-buttons button {
      margin: 15px 0%; }

body {
  margin: 0; }

.login {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .login-title {
    color: white;
    font-size: 60px;
    z-index: 4;
    margin: 0px 0px 65px;
    font-family: 'Comfortaa'; }
  .login-image {
    position: absolute;
    right: -27px;
    top: -232px; }
  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 35px;
    align-items: center; }
  .login-input {
    margin: 12px;
    border-radius: 33px;
    border-style: solid;
    border-color: #f1373c;
    font-size: 17px;
    padding: 16px 30px; }
    .login-input::placeholder {
      color: lightgray; }
  .login .btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(96deg, #f1373c 0%, #ff7a01 100%);
    margin: 8px 19px;
    padding: 16px 43px; }
  .login p {
    font-size: 18px; }
  .login .login-link {
    text-decoration: none; }

body {
  margin: 0; }

.signup {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(241, 55, 60, 0.766544) 0%, rgba(255, 122, 1, 0.441614) 100%);
  text-align: center; }
  .signup-title {
    color: white;
    font-size: 60px;
    z-index: 4;
    font-family: 'Comfortaa'; }
  .signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 35px;
    align-items: center; }
  .signup-input {
    margin: 12px;
    border-radius: 33px;
    border-style: solid;
    border-color: #f1373c;
    font-size: 17px;
    padding: 16px 30px; }
    .signup-input::placeholder {
      color: gray; }
  .signup .btn {
    background: linear-gradient(96deg, #f1373c 0%, #ff7a01 100%);
    margin: 8px 19px;
    padding: 16px 43px; }
  .signup p {
    font-size: 18px; }
  .signup .signup-link {
    text-decoration: none; }

body {
  margin: 0; }

.user-image {
  width: 250px;
  height: 250px;
  border-radius: 10%;
  background-size: cover;
  background-position: center; }

.user-name {
  position: absolute;
  top: -60px;
  font-size: 20px;
  color: #4e4e4e;
  text-transform: uppercase;
  font-family: 'Comfortaa'; }

.user-nomore {
  text-align: center; }

.buddies-container {
  margin: 50px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .buddies-container .buddies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 10px;
    box-shadow: 1px 1px 1px 1px #00000094;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    width: 70%; }
    .buddies-container .buddies-avatar {
      height: 115px;
      width: 160px;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
      align-self: center; }
    .buddies-container .buddies-img {
      max-height: 83px; }
    .buddies-container .buddies-name {
      color: #f1373c;
      font-size: 25px;
      margin: 10px 0;
      text-align: center; }
    .buddies-container .buddies-half {
      display: flex;
      justify-content: center;
      flex-direction: column; }
    .buddies-container .buddies-btn-container {
      justify-content: center;
      flex-direction: row;
      align-items: center; }
    .buddies-container .buddies-btn {
      border-radius: 10px;
      background: linear-gradient(96deg, #f1373c 0%, #ff7a01 100%);
      margin: 8px 10px;
      padding: 10px 13px;
      justify-self: end;
      height: fit-content; }
    .buddies-container .buddies .trash {
      background: lightgrey; }
    .buddies-container .buddies-img {
      height: 20px;
      width: auto; }

body {
  margin: 0; }

.editprofile {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .editprofile-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 35px;
    align-items: center; }
  .editprofile-input {
    margin: 12px;
    border-radius: 33px;
    border-style: solid;
    border-color: #f1373c;
    font-size: 17px;
    padding: 16px 30px; }
    .editprofile-input::placeholder {
      color: gray; }
  .editprofile .picture {
    position: relative; }
    .editprofile .picture .camera {
      width: 50px;
      position: absolute;
      top: 10px;
      left: 95px; }
    .editprofile .picture input {
      opacity: 0;
      margin: 20px 0;
      padding-bottom: 15px; }
  .editprofile .btn {
    background: linear-gradient(96deg, #f1373c 0%, #ff7a01 100%);
    margin: 8px 19px;
    padding: 16px 43px; }

body {
  margin: 0; }

.preferences {
  margin-top: 50px; }
  .preferences-title-container {
    background: linear-gradient(180deg, #f1373c 0%, rgba(255, 255, 255, 0) 100%);
    height: 85px; }
  .preferences-title {
    color: white;
    padding-top: 25px;
    font-size: 25px;
    text-align: center; }
  .preferences-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px; }
    .preferences-options .option.btn {
      margin: 10px;
      padding: 10px;
      font-size: 15px;
      width: fit-content;
      border: 1px solid #f1373c;
      background: white;
      color: gray;
      text-transform: capitalize; }
      .preferences-options .option.btn:hover {
        background: #f0f0f0;
        color: #ff7a01;
        border-color: #ff7a01; }
      .preferences-options .option.btn.selected {
        background: #ff7a01; }

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f1373c;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 50px; }
  .navbar-link {
    text-align: center;
    height: 30px;
    text-decoration: none;
    font-family: 'Comfortaa'; }
    .navbar-link img {
      width: 26px; }

.body {
  width: 100%; }
